@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    --main-blue: #4CA7CE;
    --darker-blue: #3F7CAC;
    transition: .3s ease;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color: white;
}
h1{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
#TheLogo{
    background: rgba(0,0,0,0.2);
    padding: 1px 10px;
    border-radius: 5px;
    height: 40px;
    
}
#TheSmallLogo{
    background: rgba(0,0,0,0.2);
    padding: 1px 10px;
    border-radius: 5px;
    height: 40px;
    display: none;
}
i.bx{
    display: none;

}
@media(max-width: 670px){
    #TheLogo{
        display: none;
    }
    #TheSmallLogo{
        display: initial;
    }
    #LogOutBTN{
        display: none;
    }
    i.bx{
        display: initial;
        padding: 5px;
        border-radius: 5px;
        font-size: 35px;

    }
    i.bx:hover{
        transform: scale(1.05);
        background-color: rgba(0,0,0,0.2);
        /* border-radius: 50%; */
    }
}
button{
    transition: .5s ease;
    cursor: pointer;
}
button:hover{
    animation: ring .5s ease;
    filter: grayscale(0.6);
}


.CommonNav{
    background-color: var(--darker-blue);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.CommonNav h1{
    color: white;
}


.CommonNav p{
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
    position: relative;
    margin-right: 10px;
    transition: .3s ease-in-out;
}

.CommonNav .LeftSide{
    display: flex;
    align-items: center;
}
.CommonNav .LeftSide .HamburgerContainer{
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transform: translateX(-20px);
    
}
.CommonNav p::before{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px);
    transition: .5s ease-in-out;
}
.CommonNav p::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
}

.CommonNav button{
    border: none;
    outline: none;
    padding: 15px 40px;
    color: white;
    font-size: 14px;
    width: 150px;
    border-radius: 2px;
    background-color: var(--main-blue);
}

.clickedMenu{
    background: transparent !important;
}
.clickedMenu::before{
    transform: rotate(45deg) !important;
}
.clickedMenu::after{
    transform: rotate(-45deg) !important;
}


.Menu{
    height: calc(100vh - 60px);
    width: 300px;
    background-color: var(--darker-blue);
    position: fixed;
    /* top: 60px; */
    left: -310px;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    width: 0;
}

.show{
    left: 0px;
    z-index: 2;
    width: 300px;
}

.Menu .MenuItem{
    /* padding: 15px 20px; */
    transition: .5s ease;
}

.Menu .MenuItem.active{
    background-color: rgba(0,0,0,0.1);
}

.Menu .MenuItem:hover{
    background-color: rgba(0,0,0,0.2);
}

.Menu .MenuItem a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    padding: 15px 20px;
}
.Menu .Profile{
    background-color: var(--main-blue);
    color: white;
    text-align: end;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Menu .Profile img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.Menu .Profile p{
    color: #ffffff8a;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(1deg);
    }
    75%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.unFilledField::after{
    content: 'Please fill this field';
    color: #ed4949;
    margin-top: 10px;
}

.unFilledField::after{
    content: 'Please select a valid option from this field';
    color: #ed4949;
    margin-top: 10px;
}
.errorInForm::after{
    content: attr(error);
    color: #ed4949;
    margin-top: 10px;
}


a{
    text-decoration: none;
    color: initial;
}

.Content{
    padding-top: 60px;
    display: flex;
    padding-left: 300px;
    min-height: 100vh;
    background: #f0f0f0;
}

.main{
    padding: 20px;
}

.Content .main{
    width: 100%;
    height: fit-content;
}
.biggerMain{
    flex-grow: 1;
}
option{
    font-size: 16px;
}

.AlertDIV{
    background: var(--main-blue);
    color: white;
    min-width: 400px;
    width: 400px;
    padding: 20px 20px;
    position: sticky;
    bottom: -100%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 2px;
}

.showAlert{
    bottom: 20px;
    opacity: 1;
}

.onlyMain{
    padding-left: 0;
}

.LoadingOverlay{
    position: fixed;
}

.Announcements h1{ 
    display: flex;
    align-items: center;
    gap: 1px;
}
.announcementsNum{
    color: white;
    background: var(--darker-blue);
    border-radius: 999px;
    padding: 5px 10px;
    font-size: 14px;
}

.Table{
    overflow-x: auto;
    width: 100%;
    margin: auto;
}



  

.row{
    display: flex;
    flex-direction: column;
    justify-content: center; 
     align-items: center;
    height: 100vh;
    width:100%;
  }
  
  .element {
    padding: 20px;
    /* border: 2px solid #000; */
    background: var(--main-blue);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    text-align: left;
    width: 100%;
  }
  
  
  @media (max-width: 600px) {
    .element {
      max-width: 80%;
    }
  }
  