.Lessons {
    height: 0;
    overflow: hidden;
}

.showLessons {
    height: fit-content;
}

.Lessons label {
    flex-direction: row !important;
    align-items: center;
}

input[type=checkbox] {
    border: 2px solid var(--darker-blue) !important;
    border-radius: 5px;
    outline: none;
    width: 15px;
    height: 15px;
    appearance: none;
    padding: 10px !important;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background: var(--darker-blue);
    /* padding: 20px; */
    /* transform: scale(1.2); */
}

#LessonsDropDown {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

#LessonsDropDown i {
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
}

#LessonsDropDown i:hover {
    background: rgba(0,0,0,.3);
}

textarea {
    height: 300px;
    border: none;
    background: #d7d7d7;
    outline: none;
    padding: 20px;
    /* box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2), inset -4px -4px 10px white; */
}

.parentEmail {
    padding: 10px 25px;
    background: var(--darker-blue);
    color: white;
    border-radius: 20px;
    margin: 0px 10px 10px 0;
    /* box-shadow: 4px 4px 13px 0 rgb(0 0 0 / 16%), -4px -4px 13px 2px #ffffff; */
}

.addParent {
    width: fit-content !important;
    /* height: 30px !important; */
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    display: grid;
    place-content: center;
}
